<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Online Slot Machine</title>
<link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
<link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h2>Your login details are invalid!</h2>
    <p>Click <a href="/login_in/">here</a> to login again. </p>


<script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>

<script src="js/index.js"></script>

</body>
</html>
